.dropdown{
	position: relative;
	display: inline-block;
	}
.dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        padding: 12px 16px;
        z-index: 1;
    }

.dropdown:hover .dropdown-content {
        display: block;
    }

#map {
        width: 649px;
        height: 550px;
    }